{% extends 'base.html.twig' %}

{% block body %}
    <section class="wrapper">
        {% if product %}
            <table id="products" class="table table-striped">
                <thead>
                <tr>
                    <th>Назва товару</th>
                    <th>Категорiя</th>
                    <th>Цiна</th>
                    <th>Опис</th>
                    <th>Опцiї</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ product.name }}</td>
                        <td> {{ category }} </td>
                        <td> {{ product.price }} </td>
                        <td> {{ product.description }} </td>
                        <td>
                            <a href="/basket/{{ product.id }}" class="btn btn-light">В корзину</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <p>Товар {{ product.id }} не знайдено</p>
        {% endif %}
    </section>
{% endblock %}