{% extends 'base.html.twig' %}

{% block body %}
    <section class="wrapper">
            {% if products %}
                <table id="products" class="table table-striped">
                    <thead>
                    <tr>
                        <th>Назва товару</th>
                        <th>Цiна</th>
                        <th>Опис</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>
                                <a href="/products/{{ product.id }}"> {{ product.name }} </a>
                            </td>
                            <td> {{ product.price }} </td>
                            <td> {{ product.description }} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Категорiї {{ categoryId }} не знайдено</p>
            {% endif %}
    </section>
{% endblock %}