{% extends 'base.html.twig' %}

{% block body %}
    <section >
        <div class="wrapper flex">
            <div class="sidebar">
                <ul class="sidebar-menu">
                    {% for category in categories %}
                        <li><a href="/products-category/{{ category.id }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
                <div>
                    {% include 'products/filterProducts.html.twig' %}
                </div>
            </div>
            <div class="content">
                {% if products %}
                    <table id="products" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Назва товару</th>
                            <th>Цiна</th>
                            <th>Опис</th>
                            <th>Фото</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    <a href="/products/{{ product.id }}"> {{ product.name }} </a>
                                </td>
                                <td> {{ product.price }} </td>
                                <td> {{ product.description }} </td>
                                <td> <img src="{{ product.productImage.path }}" ></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Товарiв не знайдено</p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}