{% extends 'base.html.twig' %}

{% block body %}
    {% if article %}
        <div class="wrapper">
        <table  class="table table-striped">
            <thead>
            <tr>
                <th>Стаття</th>
                <th>Опис</th>
                <th>Автор</th>
                <th>Дата</th>
                <th>Опцiї</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="/blog/{{ article.id }}"> {{ article.name }} </a>
                    </td>
                    <td> {{ article.text }} </td>
                    <td> {{ article.author }} </td>
                    <td> {{ article.updateAt|date('Y-m-d H:i') }} </td>
                    <td>
                        <a href="/article/update/{{ article.id }}" class="btn btn-dark">Редагувати</a>
                    </td>
                    <td>
                        <a href="/article/delete/{{ article.id }}" class="btn btn-danger">Видалити</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    {% else %}
        <p>Статю {{ articleId }} не знайдено</p>
    {% endif %}
{% endblock %}